{% extends "base.html" %} {% block title %}Graceful Serval{% endblock %} {% block content
%}
<ul class="list-group list-group-flush" id="urls">
  {% for url in data %}
  <li class="list-group-item">
    <form action="{{ url.url }}">
      <input type="submit" value="{{ url.name }}" />
    </form>
    {% if user.is_authenticated %}
    <button type="button" class="close" onClick="deleteUrl({{ url.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% if user.is_authenticated %}
<form method="POST">
  <label>Name:</label>
  <input type="text" id="url_name" name="url_name">
  <br />
    <label>URL:</label>
  <input type="text" id="url" name="url">
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add URL</button>
  </div>
</form>
{% endif %}
{% endblock %}
