{% extends "base.html" %} {% block title %}Graceful Serval{% endblock %} {% block content
%}

<div class="url_list">
    {% for url in data %}
        <div class="url_col">
            <button class="button url_button" onclick="location.href='{{ url.url }}'" type="button">{{ url.name }}</button>
            {% if user.is_authenticated %}
            <button class="delete_button delete_url" onClick="deleteUrl({{ url.id }})">&times;</button>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% if user.is_authenticated %}
<form method="POST">
  <h1>New URL</h1>
  <div class="col">
    <input type="text" name="url" placeholder="Enter url" required>
    <input type="text" name="url_name" placeholder="Enter display name" required>
    <input type="submit" value="Add URL">
  </div>
</form>
{% endif %}
{% endblock %}
